/images_old/
/venv/
/images_test/
/report/report.run.xml
/report/report.out
/report/report.blg
/report/~$report.docx
/report/~WRL0004.tmp
/report/report.lof
/report/report.log
/report/report.aux
/report/report.toc
/report/report.bcf
/report/report.bbl
/report/report.lol
/report/report.synctex.gz
/report/report.docx
